*{
    padding:0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' ,sans-serif;
}

header{
    background-image: url('1000572-final.png');
    background-size: cover;
}
nav{
    height: 90px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nav-links ul{
    list-style: none;
    color: black;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;
}
.nav-links ul li:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}


.hero{
    height: 600px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 150px;
}
.right{
    
    border: 2px solid white;
}
.left{
    width: 500px;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.left h3{
    color:black
;
    font-size: 48px;
    font-weight: 900;
    /* margin-top: 20px; */
}
.left p{
    color: black;
    font-size: 18px;
    /* margin-top: 20px; */
    font-weight: 500;
}

.left .btn{
    /* border: 1px solid blue; */
    color: white;
    padding: 10px 15px;
    background-color: black;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    
}
.left .btn:hover{
    /* background-color: rgb(51, 49, 49); */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.right{
    align-items: center;
    display: flex;
    justify-content: center;
}
.image{
    height: 200px;
    width:400px; 
    background-color: #6d747d;
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    
   

}
.crewheader{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.crewheader:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.crew-members{
    gap: 50px;
    margin:40px 40px ;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    text-align: center;
    border:2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 5px;

}
.card img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.card h4{
    font-size: 20px;
    
    font-weight: 800;
}
.card p{
    
    font-size: 15px;
    font-weight: 500;
}

.quote-section{
    background-image: url('1000802-final.jpeg');
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    height: 300px;
    font-size: 36px;
   
    
    margin: 200px 200px;
    background-color: #d3cdcd;
    padding: 10px 10px;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    
    
}
.quote-text{
    font-style: italic;
    color: black;
    font-weight: 500;
    margin: 50px;
}
.quote-author{
    
    
    text-align: right;
    color: black;
    font-weight: 900;
}


  #audio-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }





  .footer{
    height: 300px;
  }