*{
    padding:0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' ,sans-serif;
}

header{
    background-image: url('1000572-final.png');
    background-size: cover;
}
nav{
    height: 90px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nav-links ul{
    list-style: none;
    color: black;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;
}
.nav-links ul li:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
}


.hero{
    height: 600px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 150px;
}
.right{
    
    border: 2px solid white;
}
.left{
    width: 400px;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.left h3{
    color:black
;
    font-size: 48px;
    font-weight: 900;
    /* margin-top: 20px; */
}
.left p{
    color: black;
    font-size: 18px;
    /* margin-top: 20px; */
}

.left .btn{
    border: 1px solid blue;
    color: white;
    padding: 8px 15px;
    background-color: black;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    
}
.right{
    align-items: center;
    display: flex;
    justify-content: center;
}
.image{
    height: 200px;
    width:400px; 
    background-color: #6d747d;
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    
   

}